<div class="site-container">
    <div class="rectangle"></div>
    <div class="logo">
        >Air Quality<
    </div>
    <div class="search">
        <form id="searchForm">
            <div class="tweeterDrop">
                <select id="selectType" ng-model="O" ng-init="O = searchOption[0]" ng-options="O for O in searchOption"></select>
                <div class="white-arrow"></div>
            </div>
            <div class="search-field">
                <input id="searchInput" type="text" name="search" placeholder="Search for {{O}}" ng-model="inputTerm" on-enter="searchTerm(inputTerm, O)"/>
            </div>
            <div class="go"><input id="searchButton" type="submit" ng-click="search(inputTerm, O)" value="GO"></div>
        </form>
        <div class="total-tweets">Total Tweets: {{countResult.count}}</div>
    </div>
        
    <div class="table-container">
        <div class="panelBox" id="map"></div>    

        <div class="main-column">
            <div class="panelBox"> 
                <table ng-table="tableParams" class="table">
                    <tr class='animate-enter1' ng-repeat="tweet in $data">
                        <td style="width: 680px" >
                            <div style="width:100%;">
                                <strong><a href="http://www.twitter.com/{{tweet.screenName}}" target="_blank" class="tweeter">@{{tweet.screenName}}</a></strong> 
                                <span class="similar"><a href="index.html#/view1" ng-click="getMlt(tweet.docId)">Similar</a> | <a href="index.html#/view1" ng-click="removeDoc(tweet.docId)">Remove Doc</a></span>
                                <br/> 
                                <div ng-bind-html="tweet.text"></div>
                                <div ng-hide="tweet.place.name === 'null'">
                                    <a href="index.html#/view1" style="color: blue" ng-click="getP(tweet.place.name)">{{tweet.place.name}}</a>
                                    <span class="dropt" style="float:right;width:20px;" ng-click="mo(tweet.location.geo,tweet.screenName)" ><img src="https://cdn4.iconfinder.com/data/icons/eldorado-mobile/40/location_1-512.png" style="float:right;width:20px; height:20px;">
                                        <span style="float:right">Click to get to the exact location in the map</span></span>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    
    <div class="background">
    </div>
</div>

